@import "tailwindcss";

:root {
  --dark: #393640;
  --light: #A0A0A0;

  --light-purple: #C484F6;
  --semitransparent-purpule: rgba(196, 132, 246, 0.21);
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-light-purpule: var(--light-purple);
  --color-semitransparent-purpule: var(--semitransparent-purpule);
}

body {
  font-family: Aspekta, serif;
}
